
.MyZoomClass
{
    zoom: 1.2; 
    -moz-transform: scale(1.2);     
}

.MyTopClass {
    border-top:thin solid;
    border-color:black;
}

.MyBottomClass {
    border-bottom:thin solid;
    border-color:black;
}

.MyLeftClass {
    border-left:thin solid;
    border-color:black;
}

.MyRightClass {
    border-right:thin solid;
    border-color:black;
}

.MyULHuskiesClass {
   background-color:#39275b;
}
.TedClass{
   border: 2px solid red;
   display: inline-block;
}


body {
    // margin: 60px auto;
    width: 100%;
}
a {
    text-decoration: none;
    color: #289;
}
a:hover {
    text-decoration: underline;
}
  /*   Huskies: #39275b  background-color: #4b2e84; */
nav ul, footer ul {
    font-family:'Comic Sans MS', 'Arial', 'Sans-Serif';
    padding: 5px;
    list-style: none;
    font-size: 1.4em;
    background-color: #A5ACAF;
    line-height: 1.6em;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    color: #333;
    margin-right: 20px;
}
 
li a:hover{
	background-color: #083858;
	color: #69be28;
}

h1 {
    font-size: 2.3em;
    font-family:'Roboto', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.8em;
    line-height: 1.4em;
    font-family:'Roboto', 'Arial', 'Sans-Serif'
}
p {
    font-size: 1.1em;
    line-height: 1.1em;
    color: #333333; 
    font-family:'Roboto', 'Arial', 'Sans-Serif'
}
table, th , td {
    border-collapse: collapse;
    padding: 5px;
}

/* color: #18188F;*/
footer {
    border-top: 2px solid #444499;
    font-size: .8em;
     color: #002244;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.3em;
}

ul.posts li {
    list-style: none;
}

