
.MyZoomClass
{
    zoom: 1.2; 
    -moz-transform: scale(1.2);     
}

.MyTopClass {
    border-top:thin solid;
    border-color:black;
}

.MyBottomClass {
    border-bottom:thin solid;
    border-color:black;
}

.MyLeftClass {
    border-left:thin solid;
    border-color:black;
}

.MyRightClass {
    border-right:thin solid;
    border-color:black;
}

body {
    // margin: 60px auto;
    width: 100%;
}
a {
    text-decoration: none;
    color: #289;
}
a:hover {
    text-decoration: underline;
}
    /* Change the link color on hover */
li a:hover {
    background-color: #555;
    color: white;
}

nav ul, footer ul {
    font-family:'Comic Sans MS', 'Arial', 'Sans-Serif';
    padding: 5px;
    list-style: none;
    background-color: #ef7788;
    font-size: 1.5em;
    line-height: 1.8em;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    color: #154;
    margin-right: 20px;
}

h1 {
    font-size: 2.5em;
    font-family:'Roboto', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.9em;
    line-height: 1.4em;
    font-family:'Roboto', 'Arial', 'Sans-Serif'
}
p {
    font-size: 1.3em;
    line-height: 1.3em;
    color: #000000; 
    font-family:'Roboto', 'Arial', 'Sans-Serif'
}
table, th , td {
    border-collapse: collapse;
    padding: 5px;
}

footer {
    border-top: 2px solid #444499;
    font-size: .8em;
     color: #18188F;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

