
.MyGradientClass
{
    height:100%;
    margin: 30px auto;
    width: 85%;
    background-image: linear-gradient(bottom, rgb(162,180,192) 20%, rgb(220,238,248) 54%, rgb(232,244,255) 82%);
    background-image: -o-linear-gradient(bottom, rgb(162,180,192) 20%, rgb(220,238,248) 54%, rgb(232,244,255) 82%);
    background-image: -moz-linear-gradient(bottom, rgb(162,180,192) 20%, rgb(220,238,248) 54%, rgb(232,244,255) 82%);
    background-image: -webkit-linear-gradient(bottom, rgb(162,180,192) 20%, rgb(220,238,248) 54%, rgb(232,244,255) 82%);
    background-image: -ms-linear-gradient(bottom, rgb(162,180,192) 20%, rgb(220,238,248) 54%, rgb(232,244,255) 82%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0.20, rgb(220,230,240)),
        color-stop(0.54, rgb(234,2240,248)),
        color-stop(0.82, rgb(243,249,255))
    );   
}
.MyThickLineClass
{
    border:none;border-bottom:solid #99BBDD 6.0pt;
    padding:0in 0in 1.0pt 0in;margin-left:0in;   
}

.MyZoomClass
{
    zoom: 1.2; 
    -moz-transform: scale(1.2);     
}

.MyTopClass {
    border-top:thin solid;
    border-color:black;
}

.MyBottomClass {
    border-bottom:thin solid;
    border-color:black;
}

.MyLeftClass {
    border-left:thin solid;
    border-color:black;
}

.MyRightClass {
    border-right:thin solid;
    border-color:black;
}

body {
    margin: 60px auto;
    width: 100%;
}

nav ul, footer ul {
    font-family:'Comic Sans MS', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-size: 1.5em;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #229;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.3em;
    font-family:'Roboto', 'Arial', sans-serif;
}
h2 {
    font-size: 1.5em;
    line-height: 1.4em;
}
p {
    font-family:'Roboto', 'Arial', sans-serif;
    font-size: 1.5em;
    line-height: 1.4em;
    color: #333; 
}
table, th , td {
    border-collapse: collapse;
    padding: 5px;
}
table tr:nth-child(odd) {
    background-color: #eef8ff;
}
table tr:nth-child(even) {
    background-color: #eef8ff;
}
footer {
    border-top: 2px solid #444499;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

// for tag cloud and archives
.tag-cloud {
  list-style: none;
  padding: 5px;
  text-align: justify; 
  font-size: 16px;
}
#archives {
  padding: 5px;
}
.archive-group {
  margin: 5px;
  border-top: 1px solid #ddd;
}
.archive-item {
  margin-left: 5px;
}
.post-tags {
  text-align: left;
  font-size: 20px;
}
