.MyGradientClass
{
    height:100%;
    margin: 30px auto;
    width: 85%;
    background-image: linear-gradient(bottom, rgb(160,168,60) 25%, rgb(182,199,93) 63%, rgb(221,241,121) 82%);
    background-image: -o-linear-gradient(bottom, rgb(160,168,60) 25%, rgb(182,199,93) 63%, rgb(221,241,121) 82%);
    background-image: -moz-linear-gradient(bottom, rgb(160,168,60) 25%, rgb(182,199,93) 63%, rgb(221,241,121) 82%);
    background-image: -webkit-linear-gradient(bottom, rgb(160,168,60) 25%, rgb(182,199,93) 63%, rgb(221,241,121) 82%);
    background-image: -ms-linear-gradient(bottom, rgb(160,168,60) 25%, rgb(182,199,93) 63%, rgb(221,241,121) 82%);

    background-image: -webkit-gradient(
        linear,
        left bottom,
        right top,
        color-stop(0.25, rgb(128,128,218)),
        color-stop(0.63, rgb(150,150,238)),
        color-stop(0.82, rgb(180,180,255))
    );   
}​
body {
    margin: 60px auto;
    width: 70%;
}
nav ul, footer ul {
    font-family:'Comic Sans MS', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-size: 1.5em;
    font-weight: bold;
}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #229;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.5em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
h2 {
    font-size: 1.5em;
    line-height: 1.4em;
}
p {
    font-size: 1.5em;
    line-height: 1.4em;
   /* color: #333; */
}
footer {
    border-top: 2px solid #888844;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}
