<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/CV">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	        	//	<li><a href="/photos">Photos</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		<footer>
			<nav>
	    		<ul>
	        		<li><a href="mailto:kevinjconnell@hotmail.com" target="_blank" >kevinjconnell@hotmail.com</a></li>
	        		<li><a href="http://mo4dawg.github.io">kevinjconnell.com</a></li>
	        		<li><a href="https://www.linkedin.com/in/kevin-connell-39132614" target="_blank" >LinkedIn</a></li>
			</ul>
			</nav>
		</footer>
		</body>
	</html>
