<!DOCTYPE html>
	<html>
		<head>
			<title>Kevin Connell is a technology leader in the greater Seattle area</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href='https://www.kevinjconnell.com/feed.xml' rel='alternate' type='application/atom+xml'>
			<meta name="description" content="Kevin J Connell's personal website">
			<meta name="keywords" content="Kevin Connell,technology,leader,dynamic,delivery,forecasting,budget,manager,project">
			<meta name="author" content="Kevin Connell" />

		</head>
		<body class="MyGradientClass">
			<nav>
	    		<ul>
	        		<li><a href="/" style="color: #224455;">Home</a></li>
		        	<li><a href="/about" style="color: #224455;">About Me</a></li>
	        		<li><a href="/CV" style="color: #224455;">Resume</a></li>
	        		<li><a href="/blog" style="color: #224455;">Blog</a></li>
				<li><a href="/links" style="color: #224455;">Cool Stuff</a></li>
	        		<li><a href="/photos" style="color: #224455;">Photos</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		<footer>
			<nav>
	    		<ul>
	    			<li>Copyright Kevin Connell, 2016</li>
	        		<li><a href="mailto:kevinjconnell@hotmail.com" target="_blank"  style="color: #224455;">kevinjconnell@hotmail.com</a></li>
	        		<li><a href="https://www.linkedin.com/in/kevin-connell-39132614" target="_blank" style="color: #224455;">LinkedIn</a></li>
			</ul>
			</nav>
		</footer>
		</body>
	</html>
