<!DOCTYPE html>
	<html>
		<head>
			<title>Kevin Connell is a technology leader in the greater Seattle area</title>
			
			<!-- link to home stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/home.css">
			
			<link href='http://www.kevinjconnell.com/feed.xml' rel='alternate' type='application/atom+xml'>
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="description" content="Kevin J Connell's personal website">
			<meta name="keywords" content="Kevin Connell,technology,leader,dynamic,delivery,forecasting,budget,manager,project">
			<meta name="author" content="Kevin Connell" />
			
			<style>
				body { 
				//height:100%;
				margin: 25px auto;
    				width: 90%;
				//background-image: url("https://cloud.githubusercontent.com/assets/19477681/17408840/9bad45ae-5a21-11e6-944a-58ef985d00e8.jpg");
				//background-size: cover;
    				//background-repeat: no-repeat;
    				//background-attachment: scroll;
				//background-position: 0% 10%;
				}
				
				#myDiv {
    				position: absolute;
    					right: 100px;
    					top: 100px;
    					z-index: -1
				}
			
			 </style>

		</head>
		<body >
		   <script type="text/javascript">
			<!-- //code to dynamically select css for Seattle teams - not yet implemented.
			function displayThemeColors($a)
			{
  				var i, link_tag ;
 				for (i = 0, link_tag = document.getElementsByTagName("link") ;i < link_tag.length ; i++ ) 
				{
    					if ((link_tag[i].rel.indexOf( "stylesheet" ) != -1) &&
      						link_tag[i].title) 
					{
      						link_tag[i].disabled = true ;
      						if (link_tag[i].title == $a) 
						{
        						link_tag[i].disabled = false ;
      						}
					}
   				 }
			}
			//-->
	            </script>
		
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About Me</a></li>
	        		<li><a href="/CV">Resume</a></li>
	        		<li><a href="/tags">Blog</a></li>
				<li><a href="/links">Cool Stuff</a></li>
	        		<li><a href="/photos">Photos</a></li>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
				<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
				<li><img src = "https://cloud.githubusercontent.com/assets/19477681/21833290/ff512654-d765-11e6-8306-cb2a1888901e.jpg"></li> 
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
		
			
		<footer>
			<nav>
	    		   <ul>
	    			<li>Copyright Kevin Connell, 2017
	    			</li>
	        		<li><a  href="mailto:kevinjconnell@hotmail.com" target="_blank" >kevinjconnell@hotmail.com</a>
	        		</li>
	        		<li><a  href="https://www.linkedin.com/in/kevin-connell-39132614" target="_blank" >LinkedIn</a>
	        		</li>
	        		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
	        		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
	        		<li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</li>
	        		<li>&nbsp;&nbsp;&nbsp;</li>
			   </ul>
			</nav>
		</footer>
		</body>
	</html>
